
!.env.example
# Android Studio will place build artifacts here
# Divers
# Flutter / Dart (étape 2)
# Flutter/Dart/Pub related
# IntelliJ related
# Miscellaneous
# Obfuscation related
# Supabase
# Symbolication related
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# Widget Preview related
# is commented out by default.
#.vscode/
**/doc/api/
**/ios/Flutter/.last_build_id
*.class
*.g.dart.bak
*.iml
*.ipr
*.iws
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.dart_tool/
.env
.env.*
.flutter-plugins-dependencies
.history
.idea/
.packages
.pub-cache/
.pub/
.svn/
.swiftpm/
.vscode/
.widget_preview/
/android/app/debug
/android/app/profile
/android/app/release
/build/
/coverage/
android/.gradle/
android/local.properties
app.*.map.json
app.*.symbols
build/
ios/Pods/
migrate_working_dir/
supabase/.branches/
supabase/.temp/
